<h1><%= @task.title %></h1>
<h2><%= @task.completed ? 'Already done!' : 'To be done' %></h2>
<p><%= @task.details %></p>
<p><%= link_to 'Edit the task', edit_task_path(@task.id),class: "btn btn-primary" %></p>
